* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  color: white;
}

.description {
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.week-container {
  width: 100vw;
  margin-top: 10%;
}

.day-card {
  width: 15%;
  /* border: 1px solid white; */
  text-align: center;
  padding: 20px;
  margin: 25px;
}

.day-card:hover {
  border: 5px solid white;
  transition: 0.3s;
}

.day-card h1 {
  letter-spacing: 3px;
}

.day-card h4 {
  padding: 5px;
}

.card-div {
  display: flex;
}
